#editorToolBar {
  border: 1px solid white;
  border-radius: 12px;
}

.ql-container.ql-snow {
  border: 1px solid white;
  border-radius: 12px;
  min-width: 20rem;
  width: 100%;
  height: calc(100dvh - 230px);
}

.ql-editor .ql-blank p {
  color: white;
}
