@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overscroll-behavior: none;
}
body {
  color: #fff;

  min-width: 22.5rem;

  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}
