@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;

  min-width: 360px;
  max-width: 600px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100dvh !important;
}

#horong-chat-textarea::-webkit-scrollbar {
  display: none;
}
#horong-chat-ListBox::-webkit-scrollbar {
  display: none;
}
