@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overscroll-behavior: none;
}
body {
  color: #fff;

  min-width: 22.5rem;

  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

#horong-chat-textarea::-webkit-scrollbar {
  display: none;
}
#horong-chat-ListBox::-webkit-scrollbar {
  display: none;
}
#horong-exchange-ListBox::-webkit-scrollbar {
  display: none;
}
